html, body {
    height: 100%;
}
.bg-dark.bg-dark-custom {
    background-color: #002448 !important;
}
.bg-gray {
    background-color: gray !important;
    border: none !important;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    max-width: 235px;
    min-width: 235px;
    min-height: 90vh;
}
#content {
    flex-grow: 100;
}
.no-border {
    border: none;
}
.no-border-radius {
    border-radius: 0 !important;
}
.larger-text {
    font-size: large;
}
.list-group-item-action.wider {
    width: 106%;
}
.nounderline {
    text-decoration: none !important;
}
.no-bg {
    background: none;
}
.no-mb {
    margin-bottom: 0 !important;
}
.custom-card-img {
    position: relative;
    height: 98px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10px;
    background-size: contain;
}
.connection-state {
    right: 160px;
    top: 20px;
    position: absolute;

    text-align: center;
    line-height: 30px;
    width: 35px;
    height: 35px;
    background-color: white;
    border: 2px solid #777777;
    border-radius: 100%;
}
.connection-state.reachable {
    border: 2px solid #28a745;
}
.connection-state.small {
    right: 35px;
    top: 10px;
}
.custom-card-img.smaller {
    height: 60px;
}
.custom-card-img.unity {
    background-image: url('../img/Unity.png');
}
.custom-card-img.unity.off {
    background-image: url('../img/Unity_off.png');
}
.custom-card-img.vnx {
    background-image: url('../img/VNX.png');
}
.custom-card-img.vnx.off {
    background-image: url('../img/VNX_off.png');
}
.table tr td:nth-child(2) {
    max-width: 200px;
}
.card-signin {
    background-color: #003f7e;
}
.logo-connect {
    margin: auto;
    width:150px;
}
.logo-constructor {
    margin: auto;
    width: 100px;
}
.copyright {
    margin:auto;
    display: block;
    text-align: center;
    font-size: 12px;
}
.load-chart {
    position:  absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.load-chart #Spinner {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}
@media (min-width: 1200px) {
    .modal-xlg {
        max-width: 1000px;
       width: 90%; 
    }
 }
.card-spinner {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(85, 85, 85,0.4);
    border-radius: 0.25rem;
}
.card-spinner .spinner-border {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}
.system-view {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}