:root {
    --color : #316599;
}
body,html {
    width: 21cm;
    margin: 0;
    height: 100%;
}
@page {
    margin: 0px;
}
.header {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 60px;
    background-color: #316599;
    text-align: left;
    border-bottom: 2px solid #eaecff;
    padding: 0 10px 0 10px;
    /*display: flex;
    justify-content: space-between;*/
}
.footer {
    position: absolute;
    bottom: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 60px;
    background-color: #316599;
    text-align: left;
    border-top: 2px solid #eaecff;
}
.header-logo {
    position: relative;
    display: inline-block;
    height: 40px;
    vertical-align: middle;

}
.header-logo.left {
    margin-right: 10px;
}
.header-logo.right {
    margin-right: 1px;
}
.header-content, .footer-content {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    width:550px;
    color: white;
    font-weight: bolder;
    font-size: 85%;
    text-align: center;
}
.footer-content {
    position: relative;
    top: -14px;
    display: block;
    font-size: small;
    font-weight: lighter;
    width: 100%;
    text-align: center;
}
.content {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 29cm;
    background-color: white;
    text-align: left;
}
.content-title {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid #316599;
    text-align: left;
    font-size: large;
    color: #316599;
    margin-bottom: 20px;
    padding-left: 10px;
}
.table, .info-table {
    width: 98%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
    margin-left: 10px;
}
.img-report {
    margin: auto;
    display: block;
    /*position: relative;*/
}
.img-report.chart {
    margin-left: 119px;
}
.info-table {
    width: 88%;
}
.text-warning {
    color: #ffc107 !important;
}
.text-danger {
    color: #dc3545 !important;
}
.table-lun {
    width: 98%;
}
.table tr {
    height: 40px;
    text-align: center;
}
/*
.table .lun-name {
    width:140px;
}
.table .lun-order {
    width: 20px;
}
.table .lun-size {
    width: 40px;
}
.table .lun-id {
    width: 40px;
}*/
.table tr th {
    border-right: 2px solid black;
    
    background-color: #316599;
    color: white;
}
.table tr td {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    color: #000000;
}
.table tr td:first-child {
    border-left:  2px solid black;
}
.table tr.high td {
    background-color: #ee2233;
}
.table tr.critical td {
    background-color: #ee2233;
}
.table tr.normal td {
    background-color: #ff9114;
}
.table tr th:last-child {
    border-right: black;
}

.info-table tr {
    height: 20px;
}
.info-table tr td {
    text-align: left;
    width: 50%;
}
.info-table tr td:first-child {
    font-weight: bolder;
}
.outer-rect {
    margin: auto;
    display: block;
    position: relative;
    width: 110px;
    background-color: #e0e8ff;
    height: 35px;
}
.inner-rect {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background-color: #2b61ff;
    height: 35px;
}
.perc-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: 35px;
    line-height: 35px;
    color: #7f9dff;
    text-align: center;
}
.main-page {
    padding-top: -30px;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../../img/grdbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cover-logo {
    display: block;
    margin-left: 296.844px;
    width: 200px;
}
.client-logo {
    display: block;
    margin-left: 305px;
}
.main-page h1{
    color: black;
    display: block;
    text-align: center;
    font-weight: bolder;
    font-size: 200%;
}
.main-page h2{
    color: rgb(153, 0, 0);
    display: block;
    text-align: center;
    font-weight: bolder;
}
.main-page h4 {
    color: black;
    text-align: center;
    display: block;
}
.cover-tab {
    margin: auto;
    margin-left: 275px;
    width: 400px;
}
.cover-tab td {
    font-size: 120%;
}
.cover-tab tr td:first-child {
    font-weight: bold;
    text-align: left;
    width: 150px;
}
.cover-tab tr td:last-child {
    text-align: left;
    width: 50%;
}
.sys-cap-info {
    margin-top: 270px;
}
.sys-cap-info, p {
    margin-left: 30px;
    margin-right: 30px;
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.copyright {
    font-size: 110%;
    text-align: center;
}