<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">About FTS Monitoring Interface</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Overview</h6>
                <p>This application aims to ease the access to a collection of details summerizing the state of EMC storage systems (VNX and Unity).
                To report any bug, please send an email to:<br><a href="mailto(support@focus-corporation.com)" class="btn btn-link">support@focus-corporation.com</a>.</p>
                <hr>
                <h6>About creators</h6>
                <p><span class="font-weight-bold">Application Design:</span> Arbi BEN SASSI<br><span class="font-weight-bold">Development:</span> Belhassen DAHMEN</p>
                <p>&copy; All rights are reserved to Focus Technology Solutions.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>