<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-dark-custom">
        <span class="nav-text text-light ml-auto">
            Copyright &copy; 2019. Focus Technology Solutions
        </span>
    </nav>